<div class="overview-wrapper d-flex px-4">
    <div class="container d-flex p-0">
        <div class="divider"></div>
        <div class="content">
            <div class="row g-3 mb-3">
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card card-slim"></div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="card card-slim card-dark"></div>
                </div>
                <div class="col-xl-5 col-md-6 col-sm-12">
                    <div class="card card-slim card-dark"></div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card card-long card-mid-dark">
                        <div class="card-content p-5 d-flex align-items-center">
                            <div class="col-9 flex-column">
                                <div class="btn-shadow btn-shadow-1 mb-5"></div>
                                <div class="btn-shadow btn-shadow-2 mb-5"></div>
                                <div class="btn-shadow btn-shadow-3"></div>
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <h3 class="d-flex vertical-text">Shadow Techniques</h3>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="row g-3 flex-column">
                        <div class="col-12">
                            <div class="card card-slim card-mid-dark"></div>
                        </div>
                        <div class="col-12">
                            <div class="card card-slim card-dark"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card card-long card-mid-dark"></div>
                </div>
                <div class="col-xl-3 col-md-12 col-sm-12">
                    <div class="card card-long card-light">
                        <div id="text-animation-container">
                            <span #text1 id="text1"></span>
                            <span #text2 id="text2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<svg id="filters">
    <defs>
        <filter id="threshold">
            <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
									0 1 0 0 0
									0 0 1 0 0
									0 0 0 255 -140" />
        </filter>
    </defs>
</svg>