@import "../../../theme";

:host ::ng-deep {
    .overview-wrapper {
        width: 100%;
        height: 100%;
    }

    .content {
        width: calc(100% - 121px)
    }

    .divider {
        width: 1px;
        height: calc(100vh - 300px);
        background-color: transparent;
        margin-left: 60px;
        margin-right: 60px;
    }

    .card {
        width: 100%;
        border-radius: 22px;
        transition: all 0.3s ease-in-out;

        &:hover {
            @include box-shadow-extended-dark;
            transform: scale(1.03, 1.03);
            cursor: pointer;
        }
    }

    .card-slim {
        height: 240px
    }

    .card-wide {
        height: 500px
    }

    .card-dark {
        background: $aquamarine;
        color: $white-blue;
    }

    .card-mid-dark {
        background: $purple;
    }

    .card-light {
        background: $white;
    }

    .card-content {
        height: 100%;
    }

    .btn-shadow {
        background-color: transparent;
        border-radius: 7px;
        width: 110px;
        height: 40px;
        border: none;
        display: inline-block;
        font-size: 1em;
        font-weight: 900;
        padding: 10px 22px;
        -webkit-transition: background-color .2s ease;
        transition: background-color .2s ease;
        white-space: nowrap;
    }

    .btn-shadow-1 {
        animation: shadowPulse 1.6s infinite;
        animation-direction: alternate;
        -webkit-animation: shadowPulse 1.6s ease-out infinite;
        -webkit-animation-direction: alternate;
    }


    .btn-shadow-2 {
        animation: shadowDisappear 1.6s infinite;
        animation-direction: alternate;
        -webkit-animation: shadowDisappear 1.6s ease-out infinite;
        -webkit-animation-direction: alternate;
    }

    .btn-shadow-3 {
        border: 1px solid $shadow-dark-strong !important;
        animation: movingShadow 3s linear infinite;
        -webkit-animation: movingShadow 3s linear infinite;
    }

    .vertical-text {
        color: $white-blue;
        text-shadow: 2px 2px 2px ($shadow-dark);
        position: absolute;
        right: -30%;
        transform: rotate(-90deg);
        transform-origin: center;
    }

    @keyframes shadowPulse {
        from {
            box-shadow: inset 2px 2px 10px $shadow-dark-strong, 0 0 0px $shadow-dark-strong;
        }

        to {
            box-shadow: inset 0 0 0px $shadow-dark-strong, 5px 5px 10px $shadow-dark-strong;
        }
    }

    @-webkit-keyframes shadowPulse {
        from {
            -webkit-box-shadow: inset 2px 2px 10px $shadow-dark-strong, 0 0 0px $shadow-dark-strong;
        }

        to {
            -webkit-box-shadow: inset 0 0 0px $shadow-dark-strong, 5px 5px 10px $shadow-dark-strong;
        }
    }

    @keyframes shadowDisappear {
        from {
            box-shadow: 5px 5px 10px $shadow-dark-strong, -5px -5px 10px $white-blue;
        }

        to {
            box-shadow: none;
        }
    }

    @-webkit-keyframes shadowDisappear {
        from {
            -webkit-box-shadow: 5px 5px 10px $shadow-dark-strong, -5px -5px 10px $white-blue;
        }

        to {
            -webkit-box-shadow: none;
        }
    }

    @keyframes movingShadow {
        0% {
            box-shadow: 10px 8px $shadow-dark-strong;
        }

        25% {
            box-shadow: -10px 8px $shadow-dark-strong;
        }

        50% {
            box-shadow: -10px -8px $shadow-dark-strong;
        }

        75% {
            box-shadow: 10px -8px $shadow-dark-strong;
        }

        100% {
            box-shadow: 10px 8px $shadow-dark-strong;
        }
    }

    @-webkit-keyframes movingShadow {
        0% {
            -webkit-box-shadow: 10px 8px $shadow-dark-strong;
        }

        25% {
            -webkit-box-shadow: -10px 8px $shadow-dark-strong;
        }

        50% {
            -webkit-box-shadow: -10px -8px $shadow-dark-strong;
        }

        75% {
            -webkit-box-shadow: 10px -8px $shadow-dark-strong;
        }

        100% {
            -webkit-box-shadow: 10px 8px $shadow-dark-strong;
        }
    }

    #text-animation-container {
        position: relative;
        margin: auto;
        height: 100%;
        width: 100%;

        filter: url(#threshold) blur(0.6px);
    }

    #text1,
    #text2 {
        color: $black-main;
        position: absolute;
        top: 40%;
        width: 100%;
        display: inline-block;
        font-size: 3rem;
        text-align: center;
        user-select: none;
    }


}