<div class="overview-wrapper d-flex py-5 px-4">
    <div class="container">
        <div class="row g-3 mb-3">
            <div class="col-3">
                <div class="card card-slim"></div>
            </div>
            <div class="col-4">
                <div class="card card-slim card-dark"></div>
            </div>
            <div class="col-5">
                <div class="card card-slim card-dark"></div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-3">
                <div class="card card-wide card-mid-dark"></div>
            </div>
            <div class="col-3">
                <div class="row g-3 flex-column">
                    <div class="col-12">
                        <div class="card card-slim card-mid-dark"></div>
                    </div>
                    <div class="col-12">
                        <div class="card card-slim card-dark"></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card card-wide card-mid-dark"></div>
            </div>
            <div class="col-3">
                <div class="card card-wide card-light"></div>
            </div>
        </div>
    </div>
</div>