@import "../../../theme";

:host ::ng-deep {
    footer {
        @include box-shadow-top;

        img.logo {
            width: 100px;
            max-width: 100px;
            height: auto;
        }
    }

    .container {
        width: 70%;
    }

    .footer-top-container {
        color: $gray;
        min-height: 400px;
        background-color: $black-main;

    }

    .footer-bottom-container {
        min-height: 60px;
        background-color: $aquamarine;
    }


    @media #{gt-xs},
    #{$lt-lg} {
        .container {
            width: 80%;
            // margin-left: 1.5rem !important
        }
    }

    @media #{$lt-md} {
        .container {
            width: 100%;
            // margin-left: 1.5rem !important
        }
    }
}