@import "../../../theme";

:host ::ng-deep {
    footer {
        @include box-shadow-top;

        img.logo {
            width: 100px;
            max-width: 100px;
            height: auto;
        }
    }

    .footer-top-container {
        color: $gray;
        min-height: 400px;
        background-color: $black-main;

    }

    .footer-bottom-container {
        min-height: 60px;
        background-color: $aquamarine;
    }
}