<footer class="footer">
    <div class="footer-top-container py-3 d-flex justify-content-between">
        <div class="container d-flex">
            <div class="col-3">
                <a class="ms-0 me-3 pe-3 text-truncate col-2" [routerLink]="['/main']">
                    <img class="logo" src="/assets/logo-dark.png" alt="css-alchemy-logo">
                </a>
            </div>
            <div class="col-9">
                <div class="d-flex">
                    <div class="col-4">Sitemap</div>
                    <div class="col-4">Sitemap</div>
                    <div class="col-4">Sitemap</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-container ">
        <div class="container d-flex align-items-center justify-content-center">
            <small>
                Copyright © {{date | date: 'yyyy'}} CSS Alchemy.
            </small>
        </div>
    </div>
</footer>