@import "../../../theme/colors";

:host ::ng-deep {
    .sidebar {
        width: 300px;
        min-height: 500px;
        background: $white-blue-light;
    }

    .content {
        width: calc(100vw - 300px);
        height: 500px;
    }

    .main-content {
        background: $white;
        height: 500px;
    }
}