//palette

//raisin-black
$black-main-100: #3F3F78;
$black-main-200: #38386B;
$black-main-300: #31315E;
$black-main-400: #2A2A50;
$black-main-500: #232343;
$black-main-600: #1C1C35;
$black-main-700: #151628;
$black-main-800: #0E0F1B;
$black-main-900: #07070D;


//blue
$blue-100: #C2E4FE;
$blue-200: #AEDCFE;
$blue-300: #9AD3FE;
$blue-400: #7CC6FE;
$blue-500: #5DB8FD;
$blue-600: #49AFFD;
$blue-700: #219DFD;
$blue-800: #028AF2;
$blue-900: #0273CA;

//colors
$white-blue: #f4faff;
$blue-main: $blue-400;
$aquamarine: #5DFDCB;
$purple: #8789C0;
$black-main: $black-main-700;
$gray: #cfd2cd;
$shadow-dark: #32424a;

//text
$text-black: #333333;
$text-main-strong: $black-main;
$text-main-middle: $black-main-600;
$text-subheader: $black-main-500;
$text-gray: #7d7878;

//achromatic colors
$white: #ffffff;
$black: $black-main-900;