//palette
$floral-white: #fbfbf2;
$platinum: #e5e6e4;
$gray: #cfd2cd;
$silver: #a6a2a2;
$taupe-gray: #847577;

//taupe-gray
$taupe-gray-900: #615658;
$taupe-gray-800: #6c6062;
$taupe-gray-700: #77696b;
$taupe-gray-600: #847577;
$taupe-gray-500: #96888a;
$taupe-gray-400: #9f9395;
$taupe-gray-300: #a99ea0;
$taupe-gray-200: #b2a9aa;
$taupe-gray-100: #bcb3b4;
$taupe-gray-main: $taupe-gray-600;


//text
$text-black: #333333;
$main-strong: #4c4345;
$main-middle: #615658;
$text-subheader: #4c4344;
$text-gray: #7d7878;

//achromatic colors
$white: #ffffff;
$black: #141414;
