@import "../../../theme";

:host ::ng-deep {
    .header {
        @include box-shadow-bottom;
        background: $black-main;
        position: relative;
        height: 80px;
        width: 100%;
    }

    .navbar-brand {
        width: 120px;
        height: 120px;
        top: 12px;
        position: absolute;
        overflow: hidden;
        border-radius: 50%;

        img.logo {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
            margin-left: -0.4cqw;
        }
    }

    .nav-menu-container {
        margin-left: 180px;

        ul.nav-menu {
            list-style-type: none;
            flex-wrap: wrap;
            justify-content: center;

            li.nav-menu-item {
                margin: 0 2rem;
            }

            a.nav-link {
                position: relative;
                text-decoration: none;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -0.5em;
                    left: 0;
                    width: 100%;
                    height: 0.1em;
                    background-color: $aquamarine;
                    opacity: 1;
                    transform: scale(0);
                    transform-origin: center;
                    transition: opacity 300ms, transform 300ms;
                }

                &:hover::after,
                &:focus::after {
                    transform: scale(1);
                }

                &.active {
                    color: $aquamarine;

                    &::after {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}