@import "../../../theme/colors";

:host ::ng-deep {
    .header {
        -webkit-box-shadow: 0px 9px 21px 0px rgba(166, 162, 162, 1);
        -moz-box-shadow: 0px 9px 21px 0px rgba(166, 162, 162, 1);
        box-shadow: 0px 9px 21px 0px rgba(166, 162, 162, 1);
    }

    .logo {
        width: 150px;
        max-width: 150px;
        height: auto;
    }

    .p-tabmenu * {
        background: $floral-white;
    }

    .p-tabmenu .p-tabmenu-nav {
        border: none;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
        border-bottom: solid $text-header-middle;
        border-width: 0 0 2px 0;
        color: $text-header-middle;
        text-decoration: none;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
        border: solid transparent;
        border-width: 0 0 2px 0;
        color: $taupe-gray;
        text-decoration: none;
    }
}